html{
	height: 100%;
}
body{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(images/football-the-ball-brazil-football-wallpaper-preview.jpg);
}
.something{
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
}
header{
	background-color: rgba(176, 176, 199, 0);
	height: 118px;
	text-align: center;
}
nav{
	background-color:rgba(189, 178, 199, 0.244);
	text-align: center;
	padding-top: 50px;
	padding-bottom: 14px;
}
main{
	height: 400px;
	text-align: center;
	padding-top: 40px;
	padding-left: 240px;
	padding-right: 240px;
}
.Brazil{
	font-size: 84px;
	color: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255,255,255);
    background-color: rgba(0,0,0,.5)
}
.history{
	font-size: 18px;
	color: rgb(255, 255, 255);
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255,255,255);
    background-color: rgba(0,0,0,.5)
}
a{
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(255,255,255);
	background-color: rgba(0,0,0,.5)
}
nav a{
	text-decoration: none;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	color: rgba(255,255,255);
}